.bigHr {
    height: 5px;
    background-color: #BCBBBB;
    margin-top: 1px;
    margin-bottom: 15px;
}

#designation {
    position: relative;
    bottom: -10px;
    right: 0px;
}

.latoFont {
    font-family: 'Lato', serif;
}